.Rproj.user
.Rhistory
.RData
.Ruserdata
*.log

ten-simple-rules-dockerfiles\.pdf

*.tex

README.html

examples/full-demo/figures/

examples/full-demo/outputData/

examples/microsimulation-model-virus-C\+\+/covid-sim
