.Rproj.user
.Rhistory
.RData
.Ruserdata
*.log

ten-simple-rules-dockerfiles\.pdf

*.tex

README.html

examples/full-demo/figures/

examples/full-demo/outputData/

examples/microsimulation-model-virus-C\+\+/covid-sim

examples/geospatial-python-qgis-model-workflow/docker-qgis-model/

diff.pdf

diff.synctex.gz

ten-simple-rules-dockerfiles.synctex.gz
